body{
    background-color: forestgreen;
    color: white;
}

h1, h2{
    text-align: center;
}

.flip-at-start-on{
    background-color: rgb(29, 142, 46);
}

.flip-at-start-off{
    background-color: gray;
}

.gameBoard{
    display: flex;
    flex-direction: column;
}

.row{
    display: inline-flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 80vw;
}

.card{
    text-align: center;
    max-width: 8vw;
    width: 10%;
    flex-shrink: 1;
    line-height: 20vh;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 20px;
    margin: 1%;
    background-color: cornflowerblue;
    color: white;
}

.flip{
    background-color: white;
    color: black;
    font-size: 1.5em;
}

.matched{
    background-color: lightgray;
    color: darkgray;
    font-size: 1.5em;
}

.bold-red-text{
    font-weight: bold;
    color: rgb(255, 34, 34);
}

#inputSettings input.gameSetUp{
    padding: 1vh 1vw;
}

#input-other-settings div{
    margin: 1vh 0;
}

#settings{
    margin: 2vh 2vw;
}

#startButton{
    background-color: rgb(80, 182, 255);
    padding: 2vh 3vw;
    border-radius: 10px;
}

#flip-start-button{
    padding: 1vh 1vw;
    color: white;
}

#no-match-warning{
    font-size: 2em;
}