body{
    background-color: forestgreen;
    color: white;
}

h1, h2 {
    text-align: center;
}

.gameBoard{
    display: flex;
    flex-direction: column;
}

.row{
    /* display: inline-flex; */
    display: inline-flex;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    /* max-height: 20vh; */
    text-align: center;
    width: 80vw;
    /* max-width: 80vw; */
}

.card{
    text-align: center;
    /* vertical-align: bottom; */
    /* height: 20vh; */
    max-width: 8vw;
    width: 10%;
    flex-shrink: 1;
    /* max-height: 20vh; */
    /* max-width: 8vw; */
    /* padding: 5% 0; */
    line-height: 20vh;
    border: 5px black solid;
    margin: 1%;
    background-color: cornflowerblue;
    color: white;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.flip{
    background-color: white;
    color: black;
    font-size: 1.5em;
}

.matched{
    background-color: lightgray;
    color: darkgray;
    font-size: 1.5em;
}

.bold-red-text{
    font-weight: bold;
    color: rgb(255, 34, 34);
}

#no-match-warning{
    /* font-weight: bold;
    color: red; */
    font-size: 2em;
}